---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
  Manages a UniFi static route.
---

# {{.Name}} ({{.Type}})

Manages a UniFi static route.

## Example Usage

{{tffile "examples/resources/unifi_static_route/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Static routes can be imported using their ID:

```shell
terraform import unifi_static_route.example 60a1b2c3d4e5f67890123456
```
