---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
  Manages a UniFi static DNS record.
---

# {{.Name}} ({{.Type}})

Manages a UniFi static DNS record.

## Example Usage

{{tffile "examples/resources/unifi_static_dns/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Static DNS records can be imported using their ID:

```shell
terraform import unifi_static_dns.example 60a1b2c3d4e5f67890123456
```
