---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
  Look up a UniFi ACL rule.
---

# {{.Name}} ({{.Type}})

Look up an existing ACL rule by ID or name. Read-only.

## Example Usage

{{tffile "examples/data-sources/unifi_acl_rule/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}
