---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
  Retrieves information about an existing UniFi port forward rule. Lookup by either id or name.
---

# {{.Name}} ({{.Type}})

Retrieves information about an existing UniFi port forward rule. Lookup by either id or name.

## Example Usage

{{tffile "examples/data-sources/unifi_port_forward/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}
