---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
  Retrieves information about an existing UniFi static DNS record. Lookup by either id or key (hostname).
---

# {{.Name}} ({{.Type}})

Retrieves information about an existing UniFi static DNS record. Lookup by either id or key (hostname).

~> **Note:** This data source uses the v2 API and requires a UDM device.

## Example Usage

{{tffile "examples/data-sources/unifi_static_dns/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}
