---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
  Retrieves information about an existing UniFi user (client device record). Lookup by either id or mac.
---

# {{.Name}} ({{.Type}})

Retrieves information about an existing UniFi user (client device record). Lookup by either id or mac.

## Example Usage

{{tffile "examples/data-sources/unifi_user/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}
